@charset "utf-8";
/* CSS Document EDUCATION */


/*기본화면 - 제일 작은 사이즈의 화면을 기준으로 작성이 됨 index)*/
body{
margin:0; 
padding:0;
}
#wrap{min-width:310px;}
#header{position:relative; height:80px; background:#ffffff; z-index:300;}
.logo{text-align:center; padding-top:10px;}
.logo img{width:auto; height:60px;}
.utill{display:none;}
.openMenu{position:absolute; top:30px; left:15px;}
.openMenu img{width:28px; height:auto;}

.gnb{position:absolute; top:11px; left:0; width:90%; z-index:500; display:none;}
.gnb .close{display:block; width:40px; height:40px; padding:10px; background:#ffffff; margin-bottom:10px;}

.gnb .depth1{position:relative; background:#13172e; border-top:1px solid #272c4a; border-bottom:1px solid #121424;}
/*.gnb .depth1{position:relative; background:#13172e; border-top:1px solid #191f3e; border-bottom:1px solid #0b0e1f;}*/

.gnb .depth1 .m{display:block; padding:30px 20px; color:#fff; opacity:.90; font-size:13px;}
.gnb .depth1 .arr{position:absolute; top:29px; right:20px; width:20px; height:20px; background:url(/img/career/btn_more.png) no-repeat 0 center; background-size:20px 20px;}

.gnb .depth1  .depth2{display:none;}
.gnb .depth1:hover .depth2{display:block;}
.gnb .depth2 .gnbpic1{display:none;}
.gnb .depth2 .gnbpic2{display:none;}
.gnb .depth2 .submenu dl{border-top:1px solid #ddd;}
.gnb .depth2 .submenu dt a{display:block; padding:15px;}
.gnb .depth2 .submenu dd{display:none;}


/* 배너사이즈와 위치 */

#s_banner_wrap {width:100%; height:auto; position: relative; margin:0 auto;}
.banner_01 {width:100%; height:auto; background:#093}
.banner_02 {width:100%; height:auto; background:#F00}

.banner_01 > img{width:100%;}
.banner_02 > img{width:100%;}
/* 사용자 페이징 - 위치와 모양을 자유롭게 변형 */
#bx-pager1 {position: absolute; bottom:10px;}
#bx-pager1 a{float:left; margin:0 5px;display: block; width:20px; height:20px; font-size:12px; line-height:18px; text-align:center; background:#999; color:#333}
#bx-pager1 a:hover, .bx-pager1 a:active{ background: #000; color: #CCC;}

/* 사용자 페이징 - 엑티브상태에 대한 속성값 지정 */
#bx-pager1 a.active{ background: #000; color: #CCC;}

#center_wrap {margin:0px auto; /*margin:20px auto;*/height:auto; overflow:hidden;}


#conten_wrap{width:100%;}
#con_1{width:100%;height:auto;}
#con_1 > .con_1_box{width:33%; float:left; height:auto;}
#con_1 > .con_1_box img{width:100%;}  

#BCont{position:relative; margin-bottom:100px; display:block;}

#Cont1{position:relative; padding:30px 20px; margin-top:30px; margin-bottom:20px;}
#Cont1 .tit{line-height:20px; font-size:18px; color:#3c3c3c; padding:20px 0 30px 20px; font-weight:900;}
#Cont1 .tit img{width:81px; height:auto;}
#Cont1 .iCont{background:#ffffff; border:1px solid #efefef;}
#Cont1 .iCont .text{padding:0px 20px 15px 20px; font-weight:400; font-size:16px; line-height:25px; color:#5f5f5f;}
#Cont1 .iCont .pic .pc_pic{display:none;}
#Cont1 .iCont .pic .mobile_pic{width:100%; height:auto;}


#pBCont{display:none;}
/* .t3{display:none;} */
#sns{ margin:0 auto; height:auto; overflow:hidden;}
#sns img{width:100%; height:auto;}
.call{width:50%;  float:left;}
.notice{width:50%;  float:left;}


 /*#footer영역*/   
    #footer{
    width:100%; 
    height:180px;  
    background:#2a2a2a; 
    position:relative; 
    }

    #footerin .flogo{
    color:#ffffff; 
    position:absolute; 
    top:20px; 
    left:50%; 
    margin-left:-180px; 
    font-weight:400;
    }
     #footerin .fright{
    position:absolute; 
    bottom:45px; 

    right:50%; 
    margin-right:-75px;
    }  
    #footerin .hp{

    position:absolute; 
    bottom:15px; 
    color:#545454;
    right:50%; 
    margin-right:-90px;
    }
}



@media screen and (min-width:640px){

#wrap{min-width:640px;}
#header .utill{display:none;}	
#footerin .hp{color:#545454; position:absolute; bottom:10px; right:50%; margin-right:-100px;}	
}



@media screen and (min-width:1024px){
#wrap{min-width:1024px;  position;relative;}
.utill{display:block !important; height:35px; width:100%; background:#f9f9f9; border-bottom:1px solid #e3e3e3;}
.utill .home{position:absolute; top:0; right:50%; margin-right:-400px; height:35px; width:80px; padding:8px 0;}
.utill .home a{color:#999999; font-size:12px;}
.utill .blog{display:block; position:absolute; top:0; right:50%; margin-right:-430px; padding:8px 15px 8px 0;}
.utill .blog a{color:#999999; font-size:12px;}
.utill .way{display:block; position:absolute; top:0; right:50%; margin-right:-500px; padding:8px 15px 8px 0;}
.utill .way a{color:#999999; font-size:12px;}

#header{height:150px;}

.logo{width:1000px; height:90px; margin:0 auto; text-align:center; background:#ffffff;}
.logo img{width:auto; height:70px; }
.openMenu{display:none;}

.gnb{display:block; width:1000px; position:absolute; left:50%; top:96px; margin-left:-500px; border-top:1px solid #bfbfbf;  border-bottom:1px solid #bfbfbf; background:#ffffff;}
.gnb:after{content:""; display:block; clear:both;}	
.gnb .close{display:none;}

.gnb .depth1{display:block; float:left; border:0; background:#ffffff;}
.gnb .depth1 .m{padding:15px 38px 15px 50px;}
.gnb .depth1 .m:last-child{padding-right:0;}
.gnb .depth1 span{color:#282826; padding-left:35px; font-weight:900;}

.gnb .depth1 span:hover{color:#5361bd;}
.gnb .depth1:nth-child(1) span{background:none; padding-right:10px;}
.gnb .depth1 .gnbsub{display:none;}
.gnb .depth1 .arr{display:none;}



#s_banner_wrap {width:62.6%; height:auto; position: relative; margin:20px auto;}
 
#center_wrap {display:block; overflow:hidden; }
  
    .out_box {
    /*width:71.43%;*/
    width:62.6%;
  
    margin:0px auto;
    }


 #conten_wrap{display:none;}

#BCont{display:none;}



#pBCont{width:100%; height:250px; position:relative; display:block;}
.pSub{position:absolute; top:0px;left:50%; margin-left:-480px;}
.pSub p{float:left; /*margin-right:20px;*/}
.pSub .last{margin-right:0;}
.pSub img{display:block; width:100%;}
#Sub{display:none;}


#sns{display:none;}
    /*#footer영역*/   
    #footer{
    width:100%; 
    height:140px;  
    background:#2a2a2a; 
    position:relative; 
    }
    #footerin .flogo{
    color:#ffffff; 
    position:absolute; 
    top:20px; 
    left:50%; 
    margin-left:-500px; 
    font-weight:400;
    } 

    #footerin .fright{
    color:#ffffff; 
    position:absolute; 
    bottom:20px; 
    right:50%; 
    margin-right:-480px;
    }
}































